<h3>New task</h3>
<?php if (isset($viewData['error']) && !empty($viewData['error'])): ?>
<span><?=$viewData['error']?></span>
<?php endif; ?>
<form method="post" name="NewTask" action="/task/new">
   <label for="title">Title</label>
   <input name="title" type="text" maxlength="30">
    <label for="label">Label</label>
    <input name="label" type="text" maxlength="50">
    <label for="date">Date</label>
    <input name="date" type="text" maxlength="30">
    <button type="submit" onclick="document.getElementsByName('NewTask')[0].submit();">Add Task</button>
</form>